//Colors
$Pink: hsl(322, 100%, 66%);
$Very-Pale-Cyan: hsl(193, 100%, 96%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Grayish-Blue: hsl(208, 11%, 55%);
$White: #fff;

//Typography

//Body Copy
$Font-size: 18px;
$headings-font-family: 'Poppins',
sans-serif;
//Weights: 600

$body-font-family: 'Open Sans',
sans-serif;
//Weights: 400, 700

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%btn {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    background-color: $White;
    box-shadow: 2px 2px 6px $Grayish-Blue;
}

body {
    font-size: $Font-size;
    font-family: $body-font-family;
    color: $Very-Dark-Cyan;

    header {
        background-image: url("./images/bg-hero-desktop.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: $Very-Pale-Cyan;

        .container-header {
            padding: 50px 100px;

            .top {
                img {
                    height: 40px;
                }

                button {
                    @extend %btn;
                    float: right;
                    color: $Very-Dark-Cyan;
                    font-weight: 700;
                }
            }

            .bottom {
                clear: both;
                overflow: hidden;
                padding-top: 80px;

                .left {
                    float: left;
                    width: 50%;
                    padding-right: 10%;

                    h1 {
                        font-size: 1.6rem;
                    }

                    p {
                        font-size: 0.8rem;
                        margin-top: 20px;
                    }

                    button {
                        @extend %btn;
                        width: 280px;
                        color: $White;
                        font-size: 0.8rem;
                        font-weight: 400;
                        background-color: $Pink;
                        margin: 20px 0;
                    }
                }

                .right {
                    float: right;
                    width: 50%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    main {
        section {
            padding: 130px 100px;

            .label-1 {
                background-color: $White;
                margin: 30px auto;
                padding: 60px;
                border-radius: 15px;
                box-shadow: 1px 1px 10px $Very-Pale-Cyan, 1px 1px 2px $Grayish-Blue;
                overflow: hidden;

                .right {
                    float: right;
                    width: 40%;

                    img {
                        width: 100%;
                    }
                }

                .left {
                    float: left;
                    width: 60%;
                    text-align: left;
                    margin-top: 50px;
                    padding-right: 15%;

                    h3 {
                        font-family: $headings-font-family;
                        font-size: 1.2rem;
                    }

                    p {
                        font-size: 0.8rem;
                        line-height: 20px;
                        margin-top: 10px;
                    }
                }
            }

            .label-2 {
                background-color: $White;
                margin: 30px auto;
                padding: 60px;
                border-radius: 15px;
                box-shadow: 1px 1px 10px $Very-Pale-Cyan, 1px 1px 2px $Grayish-Blue;
                overflow: hidden;

                .left {
                    float: left;
                    width: 40%;

                    img {
                        width: 100%;
                    }
                }

                .right {
                    float: right;
                    width: 60%;
                    text-align: left;
                    margin-top: 50px;
                    padding-left: 15%;

                    h3 {
                        font-family: $headings-font-family;
                        font-size: 1.2rem;
                    }

                    p {
                        font-size: 0.8rem;
                        line-height: 20px;
                        margin-top: 10px;
                    }
                }
            }

            .label-3 {
                background-color: $White;
                margin: 30px auto;
                padding: 60px;
                border-radius: 15px;
                box-shadow: 1px 1px 10px $Very-Pale-Cyan, 1px 1px 2px $Grayish-Blue;
                overflow: hidden;

                .right {
                    float: right;
                    width: 40%;

                    img {
                        width: 100%;
                    }
                }

                .left {
                    float: left;
                    width: 60%;
                    text-align: left;
                    margin-top: 50px;
                    padding-right: 15%;

                    h3 {
                        font-family: $headings-font-family;
                        font-size: 1.2rem;
                    }

                    p {
                        font-size: 0.8rem;
                        line-height: 20px;
                        margin-top: 10px;
                    }
                }
            }

            .label-4 {
                width: 80%;
                background-color: $White;
                margin: 160px auto -200px auto;
                padding: 60px;
                border-radius: 15px;
                box-shadow: 1px 1px 4px $Very-Dark-Cyan;
                text-align: center;
                overflow: hidden;
                position: relative;

                button {
                    @extend %btn;
                    width: 50%;
                    background-color: $Pink;
                    color: $Very-Pale-Cyan;
                    margin-top: 40px;
                }
            }
        }
    }

    footer {
        padding: 170px 100px 60px 100px;
        color: $Very-Pale-Cyan;
        background-color: $Very-Dark-Cyan;

        .top {
            width: 100%;
            display: block;

            img {
                height: 40px;
            }
        }

        .mid {
            float: left;
            width: (100% / 5);
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .mid-1 {
            width: (100% / 5) * 2;

            .container {
                overflow: hidden;
                margin-bottom: 15px;

                .top {
                    width: 15px;
                    display: inline-block;

                    img {
                        width: 15px;
                        height: 16px;
                    }
                }

                .bottom {
                    float: right;
                    width: 90%;
                    text-align: left;
                    display: inline-block;

                    p {
                        font-size: 0.8rem;
                    }
                }
            }
        }

        .mid-2,
        .mid-3 {
            ul {
                float: right;
                width: 60%;
                list-style-type: none;

                li {
                    font-size: 0.8rem;
                    margin-bottom: 15px;
                }
            }
        }

        .mid-4 {
            .container {
                float: right;

                img {
                    width: 25px;
                    height: 25px;
                    border: 1px solid $White;
                    border-radius: 50%;
                    margin-left: 5px;
                    padding: 5px;
                }
            }
        }

        .bottom {
            clear: both;
            text-align: right;
            width: 100%;
            display: block;
            font-size: 0.8rem;
        }
    }
}

@media (max-width: 960px) {
    body {
        //        font-size: $Font-size;
        //        font-family: $body-font-family;
        //        color: $Very-Dark-Cyan;

        header {
            background-image: url("./images/bg-hero-mobile.svg");

            .container-header {
                padding: 50px 30px;

                .bottom {
                    padding-top: 180px;

                    .left {
                        float: none;
                        width: 100%;
                        padding-right: 0;
                        text-align: center;

                        h1 {
                            font-size: 3rem;
                            padding: 0 120px;
                        }

                        p {
                            font-size: 1.8rem;
                            margin-top: 80px;
                            line-height: 1.8;
                            padding: 0 80px;
                        }

                        button {
                            width: 60%;
                            height: 80px;
                            font-size: 1.2rem;
                            font-weight: 700;
                            margin: 80px 0;
                            border-radius: 40px;
                        }
                    }

                    .right {
                        float: none;
                        width: 100%;
                        text-align: center;
                        margin-top: 30px;
                        margin-bottom: 40px;

                        img {
                            width: 80%;
                        }
                    }
                }
            }
        }

        main {
            section {
                padding: 130px 30px;

                .label-1 {
                    padding: 110px;
                    border-radius: 40px;

                    .right {
                        float: none;
                        width: 100%;

                        img {
                            width: 100%;
                        }
                    }

                    .left {
                        float: none;
                        width: 100%;
                        text-align: center;
                        margin-top: 120px;
                        padding-right: 0;

                        h3 {
                            font-size: 3rem;
                        }

                        p {
                            color: $Grayish-Blue;
                            font-size: 1.6rem;
                            line-height: 1.8;
                            margin-top: 20px;
                        }
                    }
                }

                .label-2 {
                    margin: 80px auto;
                    padding: 110px;
                    border-radius: 40px;

                    .left {
                        float: none;
                        width: 100%;

                        img {
                            width: 100%;
                        }
                    }

                    .right {
                        float: none;
                        width: 100%;
                        text-align: center;
                        margin-top: 120px;
                        padding-left: 0;

                        h3 {
                            font-size: 3rem;
                        }

                        p {
                            color: $Grayish-Blue;
                            font-size: 1.6rem;
                            line-height: 1.8;
                            margin-top: 20px;
                        }
                    }
                }

                .label-3 {
                    margin: 80px auto;
                    padding: 110px;
                    border-radius: 40px;

                    .right {
                        float: none;
                        width: 100%;

                        img {
                            width: 100%;
                        }
                    }

                    .left {
                        float: none;
                        width: 100%;
                        text-align: center;
                        margin-top: 120px;
                        padding-right: 0;

                        h3 {
                            font-size: 3rem;
                        }

                        p {
                            color: $Grayish-Blue;
                            font-size: 1.6rem;
                            line-height: 1.8;
                            margin-top: 20px;
                        }
                    }
                }

                .label-4 {
                    width: 100%;
                    margin: 240px auto -240px auto;
                    padding: 100px 0;
                    border-radius: 40px;

                    h1 {
                        font-size: 2.8rem;
                    }

                    button {
                        width: 60%;
                        height: 80px;
                        margin-top: 40px;
                        font-size: 1.2rem;
                        font-weight: 700;
                        border-radius: 40px;
                    }
                }
            }
        }

        footer {
            padding: 170px 100px 60px 100px;
            color: $Very-Pale-Cyan;
            background-color: $Very-Dark-Cyan;

            .top {
                width: 100%;
                display: block;

                img {
                    height: 40px;
                }
            }

            .mid {
                float: left;
                width: (100% / 5);
                margin-top: 40px;
                margin-bottom: 40px;
            }

            .mid-1 {
                width: (100% / 5) * 2;

                .container {
                    overflow: hidden;
                    margin-bottom: 15px;

                    .top {
                        width: 15px;
                        display: inline-block;

                        img {
                            width: 15px;
                            height: 16px;
                        }
                    }

                    .bottom {
                        float: right;
                        width: 90%;
                        text-align: left;
                        display: inline-block;

                        p {
                            font-size: 0.8rem;
                        }
                    }
                }
            }

            .mid-2,
            .mid-3 {
                ul {
                    float: right;
                    width: 60%;
                    list-style-type: none;

                    li {
                        font-size: 0.8rem;
                        margin-bottom: 15px;
                    }
                }
            }

            .mid-4 {
                .container {
                    float: right;

                    img {
                        width: 25px;
                        height: 25px;
                        border: 1px solid $White;
                        border-radius: 50%;
                        margin-left: 5px;
                        padding: 5px;
                    }
                }
            }

            .bottom {
                clear: both;
                text-align: right;
                width: 100%;
                display: block;
                font-size: 0.8rem;
            }
        }
    }
}
